<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>프로젝트</title>
    <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <style>
        div {
            background-color: #ccc;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-12 col-md-6">
            <div style="display: flex; height: 100%;">
                <p style="margin: auto">profile</p>
                <div class="mypage item2">
                    <form class="mypage Information" id="profile_info">
                        <!-- 유저 닉네임, 사진 -->
                        <div class="nickname">
                            name
                        </div>
                        <div class="user_poto"><img id="profile_img_mypage" src="../static/profile_img/t.png"></div>
                        <!-- 프로필 변경 버튼 -->
                        <label type="text" aria-label="Search">
                            <input type="file" name="img" style="display:none;" id="userfile">
                        </label>
                        <button type="button" class="btn btn-primary btn-sm" id="upload_file">프로필 변경</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="col-12" style="height: 100px;">
                좋아요 리스트
            </div>
            <div class="col-12" style="height: 100px;">
                게시글
                <!-- 내 게시글 -->
                <div class="mypage item4">
                    <p>My post</p>
                    <p>나의 게시글</p>
                    <div class="list-group" id="mypage_board_list">
                        <a class="list-group-item list-group-item-action">
                            <span>-</span>
                            <span>-</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade d-none" id="like_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="like_modal"> 좋아요 리스트</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list_info">
                        <li type="none">
                            <span><img src="<%=result.likesing[i].album_img%>"></span>
                            <span style="font-weight: bold;"><%=result.likesing[i].title%></span>
                            <span> </span>
                            <span><%=result.likesing[i].singer%></span>
                            <span><img src='./static/res/image/full_heart.png' class="like_btn" style='width: 30px; height: 30px; cursor: pointer;')></span>
                        </li>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<div class="outline_line mypage container">

    <div class="mypage item1">
        <h1></h1>
    </div>
    <!-- <div class="center"> -->

    

</div>


<!-- 좋아요 -->
<div class="mypage item3">

    <p style="display: inline;">Like list</p>
    <img id="item3_heart" src="../static/res/image/full_heart.png">
    <p>나의 좋아요 리스트</p>
    <div class="love_img" id="love_img">
        <% for( var i=0; i <=3; i ++ ) { %>
            <a href="#"><img src="<%=result.likesing[i].album_img%>"></a>
            <% } %>
                <!-- 좋아요 리스트 모달 -->
                <!-- Modal -->

                
