<div class="videoContainer" style="overflow:hidden;">
    <video autoplay="autoplay" loop="loop"
        muted defaultMuted playsinline oncontextmenu="return false;" preload="auto"
        id="myVideo" class="video1">
        <source src="" id="source" type="video/mp4">
    </video>
</div>

<div class="videoCover"></div>

<div id="fullpage" class="desktop" style="z-index:3;">
    <div class="section" style="color:aliceblue; text-align:center">
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
         </svg>
    </div>

    <div class="section" style="z-index: 5; margin-top:50px">
        <div class="nn">
            <!-- <div class="container row"> -->
            <div class="containerChart row">
                <div class="col-12">
                    <!-- 마지막 파일의 날짜 출력 -->
                    <span style="display: none;" id="dayTag"></span>
                </div>
                <div class="col-lg-4">
                    <div>
                        <img src="/static/res/image/melon.png" style="margin-bottom:40px ;max-width: 150px;" data-aos="fade-right" data-aos-delay="50" data-aos-once="true">
                    </div>
                    <table border="0" class="align-middle" style="margin-bottom:100px">
                        <tbody class="a1">
                            <!-- 멜론 차트 데이터 -->
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div>
                        <img src="/static/res/image/genie.png" style="margin-bottom:9px ; width: 140px; position:relative; bottom:20px;" data-aos="fade-right" data-aos-delay="950" data-aos-once="true">
                    </div>
                    <table border="0" class="align-middle" style=" margin-bottom:100px">
                        <tbody class="a1">
                            <!-- 지니 차트 데이터 -->
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div>
                        <img src="/static/res/image/youtube.png" style="width: 220px; margin-bottom:38px;" data-aos="fade-right" data-aos-delay="1600" data-aos-once="true">
                    </div>
                    <table border="0" class="align-middle" style="margin-bottom:100px">
                        <tbody class="a1">
                            <!-- 유튜브 차트 데이터 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>