<!DOCTYPE html>
<html lang="en, ko">
<head>
    <%- include('./common/Head_CDN_Mini') %>
    <title>프로젝트</title>
    <script type="text/javascript" src="/static/js/manager.js"></script>
    <link href="/static/css/manager.css" rel="stylesheet" />
</head>
<body>
    <div class="container text-center" style="height: 100%; color: white;">
        <div class="row" style="height: 100%; align-items: center;">
            <div class="col-12" id="main">
                <form id="manager_form" style="width: 40%; margin: auto; border-radius: 10px; background-color: grey; padding-top: 3rem; padding-bottom: 1rem;">
                    <div style="margin-bottom: 1rem;">
                        <label for="inputId" class="col-sm-2 col-form-label">ID</label>
                        <input type="text" class="form-control" id="inputId" name="id" style="display: inline-block; width: 60%;">
                    </div>
                    
                    <div style="margin-bottom: 1rem;">
                        <label for="inputPwd" class="col-sm-2 col-form-label">Password</label>
                        <input type="password" class="form-control" id="inputPwd" name="pwd" style="display: inline-block; width: 60%;">
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" onclick="manger_login()">Sign in</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" onclick="home()">HOME</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>
