#layoutSidenav_content {
    overflow: hidden;
}

#layoutSidenav_content > .row {
    height: 100%;
    text-align: center;
}

/* 배경사진 */
.outline_line::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 10%;
    left: 42%;
    z-index: -1;
    background: url(/static/res/image/mypage_bg3.png) 0 0 no-repeat;
    background-size: 30%;
    opacity: 0.3;
}

#layoutSidenav_content > .row > div:nth-child(1) > div {
    display: flex;
    height: 100%;
    justify-content: right;
}

/* 프로필 */
#profile_info {
    margin-top: 28%;
    margin-right: 17%;
    max-width: 240px;
}

.nickname {
    color: white;
    text-align: center;
    font-size: 250%;
}
.user_poto {
    margin-top: 5%;
    background-color: rgb(57, 57, 57);
    overflow: hidden;
    border: 10px solid #FE2983;
    border-radius: 120px;
}
#profile_img_mypage {
    /* width: 100%; */
    /* height: 100%; */
    width: 220px;
    height: 220px;
}

#upload_file {
    margin-top: 10%;
    width: 130px;
    height: 38px;
    background: #FE2983;
    border-radius: 25px;
    border: none;
}

/* 좋아요 */
#likeDiv > div {
    height: 100%;
}

#likeDiv > div > div {
    margin-top: 20%
}

#likeDiv > div > div > div:nth-child(1) {
    text-align: left;
}

#likeDiv > div > div > div:nth-child(1) > span {
    display: inline;
    font-size: x-large;
    color: white;
}

#likeDiv > div > div > p:nth-child(2) {
    font-size: small;
    color: #b8b8b8;
    text-align: left;
}

.love_img img {
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5%;
    cursor: pointer;
    padding: 0px;
}

#love_img {
    max-width: 660px;
}
#love_img div:nth-child(1) {
    max-width: 660px;
    padding: 0px;
}

/* 게시판 */
#borderDiv > div {
    height: 100%;
}

#borderDiv > div > div {
    color: white;
}

#borderDiv > div > div > p:nth-child(1) {
    font-size: x-large;
    margin-bottom: 0px;
    text-align: left;
}

#borderDiv > div > div > p:nth-child(2) {
    font-size: small;
    color: #b8b8b8;
    text-align: left;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    max-width: 560px;
}

#mypage_board_list > a > span:nth-child(1) {
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

#mypage_board_list > a {
    display: flex;
    justify-content: space-between;
}

#mypage_board_list > a {
    background-color: rgba(192, 192, 192, 0.3);
    color: white;
}

@media (max-width : 767px) {
    .outline_line::before {
        width: 0%;
        height: 0%;
    }

    #profile_info {
        margin: auto !important;
        margin-top: 10% !important;
    }

    #likeDiv > div > div {
        margin: 5% !important;
    }
    #likeDiv > div > div > div,
    #likeDiv > div > div > p  {
        text-align: center !important;
    }
    .love_img {
        justify-content: center;
    }
    #love_img > div > div > img {
        /* width: 100px !important; */
        /* height: 100px !important; */
    }

    #borderDiv {
        margin-bottom: 5rem;
    }
    #borderDiv > div > div > p {
        text-align: center !important;
    }
    #mypage_board_list {
        margin: auto;
    }
}

/* 좋아요 Modal */
.modal-title {
    font-weight: bold;
}

.like_modal_img {
    width: 100px;
    height: 100px;
}

.like_btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.list_info > div {
    display: flex;
    justify-content: space-between;
}

.list_info > div > span:nth-child(2) {
    margin: auto 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    max-width: 160px !important;
}
.list_info > div > span:nth-child(3) {
    margin: auto 5px auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    max-width: 160px !important;
}
.list_info > div > img:nth-child(4) {
    margin: auto 0;
}
