.background_all {
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
}

.row {
   --bs-gutter-x: 0rem;
}

.board_wrap {
    width: 1100px;
    margin: auto;
    margin-top: 30px;
}

.board_title { 
   padding:50px;
   color: white;
   font-weight: bold;
   font-size: 1.5rem;
   text-align:left !important;
}

div.board_view{
    border-top: 1px solid white;
}

div.title ,dl,dd {
    color:white;
}
.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 50px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.5rem;
}

.board_view .info {
    padding: 50px;
    border-bottom: 1px solid #999;
    font-size: 1px;
    padding-top:20px;
    padding-bottom:0px;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 30px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.0rem;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding-left:35px;
    padding: 50px;
    border-bottom: 1px solid white;
    line-height: 160%;
    font-size: 1.5rem;
    color:white;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size:30px;
}
.btn-outline-secondary {
    --bs-btn-color: white;
    --bs-btn-border-color:#FE2983;
    --bs-btn-hover-bg:#FE2983;
    --bs-btn-hover-border-color:#FE2983;
}

#lv-ad-57 {
    min-width: 70%;
}

#container {
    width: 60%;
}

div.reaction-items.counts-visible {
    width:50%;
    height: 20px;
}

div.reactions__container{
    margin-top:100px;
}

.form-refresh .textarea-wrapper {
    border-radius: 20px;
    background-color: transparent;
}

@media (max-width: 540px) {
    .board_view .info dl::before {
        display: none;
    }
    .board_view .info dl {
        padding: 0;
    }
    .board_view .title {
        padding: 20px 30px;
    }
    .board_view .info  {
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom:0px;
        padding-right:0px;
    }
    .board_view .info dl:nth-child(2) {
        margin-left: 150px;
    }
    .board_view .info dl:nth-child(4) {
        margin-left: 50px;
    }
    .board_wrap {
        width:380px;
    }
    .board_view .cont {
        padding-left: 35px;    
    }
    .cont.img {
        width: 66%;
    }
}

#commentWrite, #commentView {
    color: white;
    margin-top: 1rem;
}

#commentWrite > form {
    display: flex;
    justify-content: center;
}

#commentWrite > form > textarea {
    height: 60px;
    width: 80%;
    resize: none;
    border-radius: 0.25rem;
}

#commentWrite > form > button {
    margin-left: 10px;
}

#commentView > div:nth-child(1) {
    display: flex;
}

#commentView > div:nth-child(1) > p {
    width: 90%;
    margin: auto;
}

#commentViewList {
    margin: auto;
    margin-top: 1rem;
    width: 90%;
}

#commentViewList > div {
    margin-bottom: 1rem;
}

#commentViewList > div > p {
    margin: 0px;
}

.dropdown-toggle-split {
    background-color: black !important;
    border: 0px;
    border-radius: 0.25rem;
}

.dropdown-menu {
    min-width: 3rem;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
}

.dropdown-menu > p {
    border-radius: 0.25rem;
    margin-bottom: 10px;
}

.dropdown-menu > p:last-child {
    margin-bottom: 0px;
}

.dropdown-menu > p:hover {
    background-color: white;
    color: black;
}