.background_all {
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    background-attachment:fixed;
}

.board_wrap {
    width: 1250px;
    margin: auto;
    margin-top:160px;
}

.board_title { 
    padding:510px;
    padding-top:0px;
    padding-bottom:0px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align:left !important;
}

.board_t {
    text-align:left;
    font-size:2rem;
    margin-top:-40px;
    margin-bottom: 50px;   
}

.board_write {
    border-top: 1px solid white;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid white;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .info d1,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    color:#ddd;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"] {
    padding-top: 0px;
    box-sizing: border-box;
    color:white;
    background-color: transparent;
    border:0 solid black;
}

.board_write .title input[type="text"] {
    width: 100%;
    background-color:transparent;
    vertical-align: middle;
}

.board_write .cont {
    border-bottom: 1px solid white;
    background-color:transparent;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
    align-items: center;
    background-color:transparent;
    color:white;
}

dd {
    margin-left:0px  !important;
    margin:0px;
}

dl {
    margin-bottom:5px;
    margin-top:10px;
}

#fileBtn {
    margin-left: 0px;
    margin-top:15px;
    color:white;
}

.bt_wrap {
    text-align: center;
    font-size:30px;
    margin-top:-10px;
}

#btn {
    background: #FE2983;
    color:white;
}
    
a:link {
    color : #FE2983;
}
    
.btn-outline-secondary {
    --bs-btn-color:#FE2983;
    --bs-btn-border-color: #FE2983;
    --bs-btn-hover-bg:#FE2983;
    --bs-btn-hover-border-color: #FE2983;
}

.d-none {
    display:none;
}

@media (max-width: 540px) {
    .board_wrap {
        width:350px;
        margin-top:-20px;
    }
    .board_wrap {
        width:360px;
    }

    .background_all{
        height: 70%;
        width: auto;
    }

    #layoutSidenav #layoutSidenav_content {
        display:block;
    }
    ol, ul, dl {
        margin-top: 0.5rem;
    }
    .bt_wrap {
        margin-top:10px;
    }
    .board_t { 
        margin-bottom:20px;
        margin-top:40px;
        font-size:1.5rem;
    }
}

.info > dl > dd > input {
    background-color:transparent;
    border:0 solid black;
    color:white;
}