<!DOCTYPE html>
<html lang="en, ko">

<head>
    <%- include('Head_CDN') %>
    <script type="text/javascript" src="/static/js/writeBoard.js"></script>
    <link href="/static/css/writeBoard.css" rel="stylesheet" />
</head>

<body class="sb-nav-fixed">
    <section>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="position: fixed;">
            <!-- Navbar Brand--> <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-lg-0  ps-3" id="sidebarToggle" href="#!">
                <i class="bi bi-justify main-color"></i></button>
            <a class="navbar-brand ps-4" href="/">KSP</a>


            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">

                <!-- 로그아웃 때 보이는 버튼 -->
                <div id="default-btn">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href = '/login'">로그인</button>
                </div>

                <!-- 로그인 후 보이는 프로필 이미지 -->
                <img id='profile_img' class='d-none' src="/static/profile_img/<%= result.user_img %>" style="width: 20px; height: 20px; border-radius: 10px; margin-right: 5%; cursor: pointer;" onclick="mypage_move()">
                <!-- 로그인 때 보이는 버튼 -->
                <ul class="navbar-nav logout-btn d-none dropstart">
                    <li class="nav-item dropdown">
                        <a  href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical main-color"></i></a>

                        <ul id='loginCheck' class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/mypage">마이페이지</a></li>
                            <li><a class="dropdown-item" href="/Edit_info">회원정보 수정</a></li>
                            <li><a class="dropdown-item" onclick="user_logout()">로그아웃</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </nav>
    </section>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark">
                <div class="sb-sidenav-menu bg-dark">
                    <div class="nav">
                        <br>
                        <a class="nav-link" href="/allChart">&nbsp&nbsp<i style="margin-top: 5px;" class="bi bi-disc-fill main-color"></i>&nbsp&nbsp&nbsp차트 모아보기</a>
                        <br>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <img src="/static/res/image/logo_youtube.png" width="35px">
                            &nbspYouTube
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/youtubeRealChart">실시간 음원순위</a>
                                <a class="nav-link" href="/youtubeMovieChart">뮤직비디오 순위</a>
                            </nav>
                        </div>

                        <br>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts1" aria-expanded="false" aria-controls="collapseLayouts1">
                            <img src="/static/res/image/logo_melon.png" width="35px">
                            &nbspMelon
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/melonRealChart">실시간 음원순위</a>
                                <a class="nav-link" href="/melonDayChart">일간 순위</a>
                            </nav>
                        </div>
                        <br>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
                            <img src="/static/res/image/logo_genie.png" width="35px">
                            &nbspGenie
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/genieRealChart">실시간 음원순위</a>
                                <a class="nav-link" href="/genieMovieChart">뮤직비디오 순위</a>
                            </nav>
                        </div>
                        <br>

                        <a class="nav-link active" href="/board">&nbsp&nbsp<i style="margin-top: 5px;" class="bi bi-chat-square-text main-color"></i>&nbsp&nbsp&nbsp자유 게시판</a>

                    </div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <!-- 본문 데이터 -->
            <div class="board_title" style="color:white;"> </div>
            <div class="background_all row">
                <div class="board_wrap ">
                    <div style="color: white;" class="board_t" >자유게시판</div> 
                    <form id="form_write"> 
                        <div class="board_write_wrap">
                            <div class="board_write">
                                <div class="title">
                                    <dl>
                                        <dt>제목</dt>
                                        <dd><input name="title" type="text" placeholder="제목 입력"></dd>
                                    </dl>
                                </div>
                                <div class="info">
                                    <dl>
                                        <dt>글쓴이</dt> 
                                        <dd><input name="id" type="id" disabled placeholder="글쓴이 입력" style="background-color:transparent; border:0 solid black; color:white;" value="<%=result.id%>" readonly></dd>
                                    </dl>
                                </div>
                                <div class="cont">
                                    <textarea id='form_content' name="content" placeholder="내용 입력"></textarea> 
                                </div>
                            </div>
                            <!-- <h5> 파일업로드</h5> --> 
                            <input type="file" id="board_file" name="boardfile">
                            
                        </div>
                    </form>

                    <div class="bt_wrap">
                        <button type="button" class="btn btn-outline-secondary"  id="btn_w" onclick="register();">등록</button>
                        <button type="button" class="btn btn-outline-secondary"  id="btn_c" onclick="document.location.href='/board'">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        AOS.init({
            duration: 1000
        });

        // 로그인 값 true => 기본 버튼 가리고 / 로그 아웃 버튼 보임
        if ("<%=result.isLogin%>" == "true") {
            $('#default-btn').addClass("d-none");
            
            $(".logout-btn").removeClass("d-none");
            $('#profile_img').removeClass("d-none");
        };

        // 로그 아웃 버튼
        function user_logout() {
            var form = document.getElementById('form_info');
            axios({
                method: 'delete',
                url: '/logout',
            })
                .then(() => {
                    alert('로그아웃 하셨습니다.');
                    window.location.href = "/";
                });
        }        

    </script>

</body>
</html>
