<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="position: fixed;">
    <!-- Navbar Brand--> <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-lg-0  ps-3" id="sidebarToggle" href="#!">
        <i class="bi bi-justify main-color"></i></button>
    <a class="navbar-brand ps-4" href="/">KSP</a>


    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">

        <!-- 로그아웃 때 보이는 버튼 -->
        <div id="default-btn">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href = '/login'">로그인</button>
        </div>

        <!-- 로그인 후 보이는 프로필 이미지 -->
        <img id='profile_img' class='d-none' src="/static/res/profile_img/<%= result.user_img %>" style="width: 20px; height: 20px; border-radius: 10px; margin-right: 5%; cursor: pointer;" onclick="mypage_move()">
        <!-- 로그인 때 보이는 버튼 -->
        <ul class="navbar-nav logout-btn d-none dropstart">
            <li class="nav-item dropdown">
                <a  href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical main-color"></i></a>

                <ul id='loginCheck' class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="/mypage">마이페이지</a></li>
                    <li><a class="dropdown-item" href="/Edit_info">회원정보 수정</a></li>
                    <li><a class="dropdown-item" onclick="user_logout()">로그아웃</a></li>
                </ul>
            </li>
        </ul>
    </ul>
</nav>